body{

}

h1 {
    color: #254B6D;
    font-family: 'Cinzel', serif;
}

h2 {
    color: #254B6D;
}
p {
    font-family: 'Lobster', cursive;
}
nav div a {
    padding: 18px;
    background-color: #31A555;
    box-shadow: 5px 5px grey;


}
nav div {
    margin: 75px 75px 75px 25px;


}
#mainContent{
    float: left;
    width: 45%;
}
#picture{
    float: left;
    width: 55%;
    background-image: url("../images/background2.jpg");
    background-repeat:no-repeat;
    min-height: 587px;

}
.mainInfoFont {
    font-weight: bold;
}

a:hover {
    background-color: #b4ffba;
}
p.inline {
    display: inline;
    margin-top: 160px;
}
img {
    width: 50px;
    margin-top: 15px;
}


